# Hugo build output
/build/
/resources/_gen/

# Hugo cache
.hugo_build.lock

# Dependencies
node_modules/

# OS files
.DS_Store
*.pem
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env*.local

# Temporary files
*.tmp
*.temp
